<!DOCTYPE html>
<html lang="pt-br">
<head>
<meta charset="UTF-8">
<title>Doces</title>

<style>
body {
    font-family: Arial;
    background: #ffe6f2;
    text-align: center;
}

.card {
    background: white;
    width: 250px;
    margin: 20px;
    padding: 20px;
    border-radius: 15px;
    display: inline-block;
}

.foto-doce {
    width: 100%;
    height: 180px;
    object-fit: cover;
}
</style>
</head>

<body>

<h1>Doces 🍬</h1>

{% for doce in doces %}
<div class="card">
    <img src="{{ url_for('static', filename='assets/' + doce.imagem) }}" class="foto-doce">
    <h2>{{ doce.nome }}</h2>
    <p>{{ doce.descricao }}</p>
    <p>R$ {{ doce.preco }}</p>
</div>
{% endfor %}

</body>
</html>