<!DOCTYPE html>
<html lang="pt-br">
<head>
<meta charset="UTF-8">
<title>Localização</title>

<style>
body {
    font-family: Arial;
    background: #ffe6f2;
    text-align: center;
}

.container {
    background: white;
    margin: 40px auto;
    padding: 30px;
    width: 80%;
    border-radius: 15px;
}

button {
    background-color: #ff85c1;
    color: white;
    padding: 10px;
    border: none;
}
</style>
</head>

<body>

<h1>📍 Localização</h1>

<div class="container">
    <p>Rua Pereira Estéfano, São Paulo</p>

    <a href="https://www.google.com/maps/search/?api=1&query=Rua+Pereira+Estéfano+São+Paulo" target="_blank">
        <button>Ver no mapa</button>
    </a>
</div>

</body>
</html>