{% extends "base.html" %}

{% block content %}

<div class="container" style="background-color: rgb(175, 195, 230); border-radius: 8px;" >
    <div class="row">
        <div class="col-md-6 m-auto"> 
            <!-- Botão para voltar -->
            <a href="{{url_for('apigames')}}" class="btn btn-primary">Voltar para a lista</a>

            <br>
            <br>

            <div class="card">
                <!-- Imagem do jogo -->
                <img src="{{ jogoInfo.thumbnail }}" alt="{{ jogoInfo.title }}" class="card-img-top">
                <!-- Informações do jogo -->
                <div class="card-body">
                    <h5>{{ jogoInfo.title }}</h5>
                    <p>Gênero: {{ jogoInfo.genre }}</p>
                    <p>Plataforma: {{ jogoInfo.platform }}</p>
                    <p>Editora: {{ jogoInfo.publisher }}</p>
                    <p>Desenvolvedor: {{ jogoInfo.developer }}</p>
                    <p>Data de Lançamento: {{ jogoInfo.release_date }}</p>
                    <p>Descrição: {{ jogoInfo.short_description }}</p>
                    <a href="{{jogoInfo.game_url}}" target="blank" class="btn-danger">Jogar</a>
                </div>
            </div>
        </div>
    </div>
</div>


{%endblock content %}